# --- Oracle AI Service Database ---
ORACLE_DB_USER=oracle_user
ORACLE_DB_PASSWORD=oracle_password
ORACLE_DB_NAME=oracle_db
ORACLE_DB_HOST=localhost
ORACLE_DB_PORT=5436


SENTIMENT_MODEL_NAME="distilbert-base-uncased-finetuned-sst-2-english"

GITHUB_APP_ID=1823419
GITHUB_INSTALLATION_ID=82194873
GITHUB_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEAyUnRUmqf9NOeiWj/u2B2WeZ66dmYzLoE9LS02z4WDh8TBz6H
iCoe1y3ygQgh7WZXDHSSXQ2c0qnyajudz7hq4SecA7HMLfWeJaejX8RuNtVWnhRp
O8v4CKlxeFNKw7if+j0Fy9i2gLNyK0dcRxJITyV9Nz8j82gJfAOV0dJzVPWhAhzm
zxM9Pp2iidsRyDeBSU7SYS1nUUy4hZ94eTJDpBNP9tQ/ugjQ3zYvE+hyy9q9f3ht
nnIqlD3hGwXGQogjFwNWq+1LofntWNiqSPqgJ0zM/8okUBkQ906tsuLn01L1+nhG
8l9/V/yVmmjEOvUnW37qPXBAzPDZ8Wf7bMds3wIDAQABAoIBACdvtvsWuNAWxfDW
CYSEmatzZJF8eFtj9qSa4vQxbdDGdcvtjFA5MGGoNuLg3QTOEC/4htSEXj1H3p7B
n2GbGBWU1RREOWSnwpxOA8w3iABmO9os1ZFJnQbVa83PQ86k1XMJkaEmjFsazTt9
d67U/iXDiozQahK+R11stmWtfbsfK6qL5IZRpJdGd9ti8igOTaa8bYnzNNdjvpiP
eN5DavUImdsgqJCi9Yd8VqZayifG3CEngDbkOPYwnvM6R+Z0pTTN6sRT7D3zaYHz
IxdqR+8B+I1FXpyut/uX2CCtvT1RWhNffEpNy+/En7pg2pYHkKm6b3wAGE9H9udB
6bH98EECgYEA7V/v7Ul+JSKBvGDV9BzkfpO1+ogDyelqpEfM5Ptt8AWQAaka6IWg
/0yxDGNJDCZ5APHzo2KENXgyOpcw9q20HiPDoNBnGFuyePqSa7TijVJjTB7ZnOCy
TiTE9uWwK6lYIt1NgnA/Lfm/feFrV2Vf+0OzRKjlZXeOPTd2JN1KkbUCgYEA2RUG
jaeXv2ib1ixQSkUTGJ6/MqMToLQc+a2r8sJEYc5K3U1a15PgcDpHSTxRPCrdRblP
K4/l/D0wtjqYdPhEPESxH+GchObncgdA4WDySOCEjDfoy6kxtqd52Wco4y5QfTU4
fdA9iq1/7xHSGepvPKfDfPBDohW9FfaJ+85WsMMCgYEAqQROid5ye25+getRbGfG
KnpycNi4GeShkiettL1yIh1T1FrcVgQQBrhMuE1ZjdU3A31DxWo4SPo0iZNtwbcd
MPi2KqM5RRbFlW6VIyvAxG+NVH4C5Lj5PLrhpAsXzX7eyrRYpC/YTJwvxSnkjG4a
UYZ69sBr1juyg9Qhw03t8qECgYEAxbELJcfBPzQh7xquB+T97gbrsk6m2kwMsyiB
FfPq2HNI5F7E4twtoabBMqW2iSe0GQIYYmCKnnqPOPUF0EgjxAr+jz0kEDhEACkw
4c8q9klZDGUCIS61MlU0d1Ml/jY4YL4t8w3IbdlxT6OYBbfkk4VoVwhrX1mSuESs
BmAzvIcCgYBozMJ2T8aabeZ/oF+yXpVmwNRFNQ9JZVLY5zQnciX1FzHv9VP+4LWn
fWxtsx1EKXtdt7Hcb2U9N24qPPNAyJ8DU+vbZjxiE4GsrkqJpjEhj8TKhgs2MyUB
Fb0MkdBIXa36OcICtRoANpE7XD1VgH+n3z5QlKAhhZxqNjNdgPPrwg==
-----END RSA PRIVATE KEY-----
"
GITHUB_WORKFLOW_DISPATCH_URL="https://api.github.com/repos/mansaraysaheedalpha/event_management_platform/actions/workflows/deploy_model.yml/dispatches"
DATADOG_API_KEY="dummy_key"
DATADOG_APP_KEY="dummy_key"